<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>导出体检信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="layer/layer.js"></script>
    <script>
        function exportFunction() {
            var supplier = $("#supplier").val();
            var modifyDate = $("#date").val();
            var expense = $("#expense").val();
            var checked = $("#checked").val();
            if (supplier == "" && modifyDate == "" && expense == "" && checked == "") {
                layer.msg("请输入有效信息");
            } else {
                window.location.href = "exportExcel?supplier=" + supplier + "&modifyDate=" + modifyDate + "&expense=" + expense + "&checked=" + checked;
            }
        }
    </script>
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="layui-form" style="margin-top:10px;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">供应商</label>
            <div class="layui-input-inline">
                <select name="supplier" id="supplier" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    <option value="爱康">爱康</option>
                    <option value="冯了性">冯了性</option>
                    <option value="健凯">健凯</option>
                    <option value="元化">元化</option>
                    <option value="异地">异地</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">导入日期</label>
            <div class="layui-input-inline">
                <input type="text" name="modifydate" id="date" lay-verify="date" placeholder="yyyy-MM-dd"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">是否已报销</label>
            <div class="layui-input-inline">
                <select name="expense" id="expense" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    <option value="1">已报销</option>
                    <option value="0">未报销</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">是否到检</label>
            <div class="layui-input-inline">
                <select name="checked" id="checked" lay-verify="required" lay-search="">
                    <option value="">直接选择或搜索选择</option>
                    <option value="1">到检</option>
                    <option value="0">未到检</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div align="center">
    <button type="button" name="button2" class="layui-btn" onclick="exportFunction()">导出预约数据
    </button>
</div>

<script src="layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //同时绑定多个
        lay('.test-item').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
            });
        });
    });

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
    });
</script>

</body>
</html>